################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

# .NET build output
[Bb]in/
[Oo]bj/
*.csproj.user
# Visual Studio
**/.vs/
