################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/wa.web/node_modules/@rolldown/binding-win32-x64-msvc
/.vs
